@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

#root {
    height: 100vh;
    width: 100%;
}
.container {
    background: url('./bicrypto-bg.png');
    background-color: #121212fb;
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    height: 100vh;
}

.sidebar {
    width:400px;
}
.sidebar .user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sidebar .user img {
    margin-top: 20vh;
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 1000px;
}
.sidebar .user h3 {
    font-size: 24px;
    color: #f4f4f4;
    margin: 20px 0 10px 0;
}
.sidebar .user p {
    color: #21B6CF;
}

.sidebar .skills {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sidebar .skills .title {
    color: #21B6CF;
    margin-bottom: 10px;
}
.sidebar .skills .skill {
    text-align: center;
    color: #f4f4f4;
    width: 80%;
    font-size: 14px;
}

.sidebar a {
    text-decoration: none;
    background: #21B6CF;
    color: #f4f4f4;
    padding: 8px 20px ;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 4px 1px gray;
}
.sidebar a:hover {
    background-color: #069eb9;
}
.main {
    background-color: #f4f4f4;
    flex: 1;
    padding: 10px 40px;
    overflow: auto;
}
.main .brand {
    display: flex;
    justify-content: flex-end;
}
.main .brand img {
    height: 72px;
}
.main .profile {
    margin-top: 40px;
    width: 95%;
    max-width: 600px;
}
.main .profile .about {
    margin-bottom: 50px;
}
.main .profile .about h3 {
    color: #121212;
    margin-bottom: 20px;
}
.main .profile p {
    color: #545454;
    font-size: 15px;
    line-height: 24px;
}
.main .profile .contact h3 {
    color: #121212;
    margin-bottom: 20px;
}
.main .profile .contact p {
    color: #21B6CF;
}
.logout {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.logout img {
    height: 45px;
    transition: 1s;
}
.logout img:hover{
    transform: rotate(90deg);
}