<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="profile.css">
    <title>Profile</title>
</head>
<body>
    <div id="root">
        <a href="#" class="logout"><img src="./switch.png" alt="Logout"></a>
        <div class="container">
            <div class="sidebar">
                <div class="user">
                    <img src="./buffet.jpg" width="100" alt="profile picture" class="profile-img">
                    <h3 class="profile-name">Waren Buffet</h3>
                    <p class="title">Web developer</p>
                </div>
                <div class="skills">
                    <p class="title">Skills</p>
                    <p class="skill">PHP, JAVA, VB .NET, JAVASCRIPT, MATLAB, COBOL, FORTRAN, HTML, CSS, C#, PYTHON, F#, REACT JS</p>
                </div>
                <center>
                    <a href="./editprofile.html">Update Profile</a>
                </center>
            </div>
            <div class="main">
                <div class="brand">
                    <img src="./bicrypto-logo.png" alt="Logo">
                </div>

                <div class="profile">
                    <div class="about">
                        <h3>About</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar sit lectus arcu nec in massa purus. Amet blandit nunc volutpat sed sem porta viverra dictumst turpis. Bibendum posuere orci euismod leo mattis quis tincidunt. Ac orci in risus id vitae condimentum.
                            <br/>Lacus aliquam habitant viverra ut at eget nunc pulvinar a. Dui eget nulla urna, sed at vitae at nisi. Convallis nibh ullamcorper quis quisque quam tincidunt nullam pretium lorem. Vivamus sed tincidunt nibh cras dolor. Nulla eget nec donec imperdiet a </p>
                    </div>
                    <div class="contact">
                        <h3>Contact</h3>
                        <p>jasonlogic@logiccamp.com</p>
                        <p>+184748574</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>